# Created by venv; see https://docs.python.org/3/library/venv.html
# Entorno virtual de ConsultaAPI
ConsultaAPI/venv/
ConsultaAPI/.env

# Archivos compilados de Python
ConsultaAPI/__pycache__/
ConsultaAPI/*.pyc
ConsultaAPI/*.pyo
ConsultaAPI/*.pyd

# Archivos de logs y temporales
ConsultaAPI/*.log
ConsultaAPI/*.tmp
ConsultaAPI/*.swp

# Configuraciones locales de IDE
ConsultaAPI/.vscode/
ConsultaAPI/.idea/

# Archivos del sistema
.DS_Store
Thumbs.db


node_modules/
.env